body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Tugas {
  background-color: #fff;
}
section {
  padding-top: 5rem;
}
.foto {
  margin-top: 100px;
  display: flex;
  margin-left: 17%;
}
.Penjelasan {
  background-color: rgb(137, 181, 222);
}
